
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0;
    height: 293px;
}
.header-menu-list {
    display: flex;
    gap: 13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.header-menu-item {
    text-decoration: underline;
    list-style-type: circle;
}

.header-menu-item-active {
  text-decoration: none;
  list-style-type: none;
}

.header-logo-image {
    height: 105px;
    width: 108px;
    margin: 92px 96px;
}

.header-contacts {
    height: 98px;
    width: 240px;
    margin: 95px 100px;
    margin-right: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;    
}

/*секция с заголовком*/

.cover-section {
    height: 757px;
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/cover.jpg"); 
    background-size: cover;
}

.cover-title-section {
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-left: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    line-height: 114.99999999999999%;
    color: #FFFFFF;   
    letter-spacing: 0.3em;   
}

.cover-title {
    margin-top: 165px;  
    flex-direction: column;
    line-height: 115%;
}

.cover-title-left {
    display: block;
    text-align: left;

}

.cover-title-center {
    display: block;
    text-align: center;
}

.cover-title-right {
    display: block;
    text-align: right;
}

.cover-footer {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 106px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    
}

.cover-footer-p {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
}
.cover-footer-bottom {
    height: 51px;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    border-width: 1px;
    border-style:groove;
    border-color: #FFFFFF;
}

/*секция с карточками*/

.lots {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 74px 596px 53px;
    column-gap: 25px;
}

.lots-title {
    grid-column: span 3;
    margin-left: 40px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.lots-card {
    display: flex;
    flex-direction: column;
}

.lots-card-background-image-1 {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/card-lot-01.jpg"); 
    background-size: cover;
    background-position: center;

}

.lots-card-background-image-2 {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/card-lot-02.jpg"); 
    background-size: cover;
    background-position: center;

}

.lots-card-background-image-3 {
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/card-lot-03.jpg"); 
    background-size: cover;
    background-position: center;

}

.lots-card-title {
    height: 110px;
    width: 254px;
    margin: 48px 48px 40px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #FFFFFF;
}

.lots-card-content {
    width: 254px;
    margin: auto;
    margin-bottom: 48px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.lots-footer {
    margin-left: 40px;
    margin-top: 30px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    
}

/*секция с информацией об аукционе*/

.about-section {
    margin-top: 120px;
    display: flex;
}
.about-image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    margin-left: 47px;
    margin-top: 35px;
    background-color: black;
    border-radius: 50%;
    
}

.about-image {
    height: 114px;
    width: 148px;
}
.about {
    margin-left: 72px;
    width: 693px;
    height: 449px;
}

.about-title {
    margin-top: 133px;
    margin-bottom: 75px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.about-content {
    margin-top: 25px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

/*подвал*/

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 50px;
    padding: 0;
    height: 180px; 
}

.footer-contacts {
    height: 98px;
    width: 264.57px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;

}

.footer-contacts-underline {
    text-decoration: underline;
}

.footer-nav {
    align-items: center;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.footer-nav-underline {
    text-decoration: underline;
}

.footer-socialis {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

.footer-socialis-image {
    height: 48px;
    width: 48px;

}