
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0;
    height: 293px;
}
.header-menu-list {
    display: flex;
    gap: 13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.header-menu-item {
    text-decoration: underline;
    list-style-type: circle;
}

.header-menu-item-active {
  text-decoration: none;
  list-style-type: none;
}

.header-logo-image {
    height: 105px;
    width: 108px;
    margin: 92px 96px;
}

.header-contacts {
    height: 98px;
    width: 240px;
    margin: 95px 100px;
    margin-right: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;    
}

/*секция с заголовком*/

.cover-section {
    height: 757px;
    background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/cover.jpg"); 
    background-size: cover;
}

.cover-title-section {
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-left: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    line-height: 114.99999999999999%;
    color: #FFFFFF;   
    letter-spacing: 0.3em;   
}

.cover-title {
    margin-top: 165px;  
    flex-direction: column;
    line-height: 115%;
}

.cover-title-left {
    display: block;
    text-align: left;

}

.cover-title-center {
    display: block;
    text-align: center;
}

.cover-title-right {
    display: block;
    text-align: right;
}

.cover-footer {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 106px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    
}

.cover-footer-p {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
}
.cover-footer-bottom {
    height: 51px;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    border-width: 1px;
    border-style:groove;
    border-color: #FFFFFF;
}

/*секция с карточками*/

.lots {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 25px;

}

.lots-title {
    grid-column: span 3;
}

.lots-footer {
    grid-column: span 3;
}